* {	margin: 0;
	padding: 0;}

body {	font-size: 1.2em;
		background-color: #fff;
		color: #555;}

p {	padding: 0 0 20px 0;
	line-height: 1.7em;}


input[type="text"], input[type="password"], input[type="search"]{
	color: #5d5d5d;
	width: 60%;
	padding: 8px;}

input, textarea {
	outline: none;
	border: none;
	border: solid 1px #f2f2f2;}	

h1, h2 {
	font: normal 170% 'century gothic', arial;
	margin: 0 0 15px 0;
	padding: 15px 0 5px 0;
	color: #000;}

h2 {font-size: 140%}

a, a:hover {outline: none;
	text-decoration: underline;
	color:  #aeb002}
	
ul {margin: 2px 0 22px 17px;}

ul li {	margin: 0 0 6px 0;
		padding: 0 0 4px 5px;
		line-height: 1.5em;}
hr {border: solid 1px #f3f3f3}

.header{background-color: darkslateblue;
		height: 177px;
		font-size: 0.8em;
		margin-left: 0px;
		margin-right: 0px;
		min-width: 900px;}

.main, .logo, .menubar, .site_content, .footer{
	margin-left: auto;
	margin-right: auto;}

.logo {	width: 880px;
		padding-bottom: 40px;}

.logo h1, .logo h2 {
	font: normal 300% 'century gothic', arial, sans-serif;
	margin: 0 0 0 9px;}

.logo_text h1, .logo_text h1 a , .logo_text h1 a:hover {
	padding: 22px 0 0 0;
	color:#fff;
	letter-spacing: 0.1em;
	text-decoration: none;}

.logo_text h2 {	font-size: 0.9em;
				padding: 4px 0 0 0;
				color: #999;}

.menubar {	width: 900px;
			height: 46px;}

ul.menu {float: right;}

ul.menu li {float: left;
			padding: 0 0 0 9px;
			list-style: none;
			margin: 1px 2px 0 0;}

ul.menu li a {
	font: normal 100% 'trebuchet ms', sans-serif;
	display: block;
	height:20px;
	padding: 6px 35px 5px 28px;
	color: #fff;
	text-decoration: none;}

ul.menu li.selected a {color: #aeb002;}

ul.menu li a:hover {color: #e4ec04;}

.site_content {	width: 880px;
				overflow:hidden;
				margin: 20px auto 0 auto;
				background-color: white;}

.sidebar_container {float: right;
					width: 224px;}
.sidebar {	float: right;
			width: 222px;
			padding: 5%;
			margin: 0 0 16px 0;
			border: solid 1px #f2f2f2;
			border-radius: 5px;
			background-color: #f9f9f9;}

.btn {	padding: 8px;
		background-color: white;
		cursor: pointer;}

.sidebar h2 {color: #136cb2;}

.lables_passreg_text {	font-size: 0.7em;
						margin-top: 3%;
						margin-left: 2%;}	

.sidebar ul {margin:0;}
.sidebar ul li {list-style-type: none;
				margin: 0 0 0 0;}
.sidebar .rating_sidebar {float: right;}

.content { text-align: left;
			width: 620px;
			padding: 0 0 0 5px;
			float: left; }
.content a {text-decoration: none;}

.films_block {margin-bottom: 5%;}
.films_block img {
	border-radius: 5px;
	border: solid 5px #dad7d5;
	width: 22%;}

.posts .posts_content {font-size: 0.8em;}

.info_film_page {margin-top: 2%;
				margin-bottom: 4%;}
.info_film_page .label {font-size: 1.2em;}
.info_film_page .value {font-size: 1em;
						color: #49945a;
						margin-right: 3%;}

.description_film {margin-bottom: 15%;}
.description_film img {float: left;
						margin-right: 2%;
						border-radius: 5px;
						border: solid 5px #dad7d5;}

.reviews {margin-bottom: 4%;
			font-size: 0.9em;}
.reviews .review_name {background-color: #7268ad;
						color: white;
						padding: 1%;
						border-top-left-radius: 5px;
						border-top-right-radius: 5px;}
.reviews .review_text {padding: 2% 0 2% 2%;}	
										

.send {margin-bottom: 4%;}
.send input[type="text"], textarea {
	borber: solid 1px #c3c3c3;
	margin-bottom: 2%;}
.send input[type="text"] {width: 98%;}
.send textarea {width: 624px;
				height: 200px;}
.send input[type="submit"] {
	background-color: #7268ad;
	padding: 3%;
	color: white;
	border-radius: 5px;}

.send_contact input[type="text"] {width: 500px;}
.send_contact textarea {width: 516px;}

.info_film {margin-bottom: 5%;
			background-color: #f9f9f9;
			padding: 5%;
			height: 270px;}
.info_film img {
	float:left;
	margin-right: 2%;
	border-radius: 5px;
	border: solid 5px #dad7d5;
	width: 25%;}

.button {background-color: #7268ad;
		padding: 2%;
		color: white;
		border-radius: 5px;
		float: right;
		margin-top: 5%;
		clear: both;
		font-size: 0.8em;}
.button a {color: white;}


table {	width: 100%;
		border: solid 1px #f4f4f4;}
td {padding: 2%;
	border: solid 1px #f4f4f4;}
td img {width: 60px;
		vertical-align: middle;}
.center { text-align: center; }

.rating {font-weight: bold;}

.footer {width: 100%;
		height: 100px;
		padding: 28px 0 5px 0;
		text-align: center;
		background-color: darkslateblue;
		color: #a8aa94;
		margin-left: 0px;
		margin-right: 0px;
		min-width: 900px;}

.footer a {	color: #a8aa94;
			text-decoration: none;}	

.footer a:hover	{ 	color: #fff;
					text-decoration: none; }

.footer	p {	padding: 0 0 10px 0}	


/* CSS Mobile */			

@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px) {
	
	.header {background-color: #257965;
			min-width: 100%;
			height: 20%;
			text-align: center;}



	.logo {width: 100%;}

	.menubar {width: 100%;
				height: 100%;}

	.site_content {width: 100%;
				text-align: center;}

	.sidebar_container {display: none;}

	ul.menu {float: none;
			margin: 0;
			padding: 0;}

	ul.menu li {
			margin: 0;
			padding: 0;
			float: none;}

	.logo h1 {
		font: normal 235% 'century gothic', arial, sans-serif;}	
	.logo h2 {
		font: normal 100% 'century gothic', arial, sans-serif;
		color: white;}	
	.content {width: 100%;
			text-align: center;}
	.content h1, h2 {font: normal 110% 'century gothic', arial;}

	.films_block img {width: 43%}

	.posts_content p {line-height: 1.5em;
						font-size: 208%;
						padding: 3%;
						text-align: left;}
	.posts p {font-size: 120%;}

	.footer {display: none;}

/* films page */

.info_film {float: none;
			height: 100%;}

.info_film img {width: 90%;
				margin-bottom: 5%;}

.button {float: none;}

/* rating page */

table {display: block;}

th {font-size: 75%;}

td {padding: 0;
	margin: 0;
	font-size: 95%;
	text-align: left;}

/* show page */
iframe {width: 88%;
		height: 100%;}

.description_film {width: 90%;
					text-align: left;
					margin-left: 2%;}		

.description_film img {float: none;
width:73%;
display: block; 
margin: 0;
padding: 0;
margin-left: 11%;
margin-bottom: 7%;}

.reviews {text-align:left;
	width: 96%; }

.send input[type="text"] {width: 80%;}
.send textarea {width: 85%;}