.form {
   border: solid 10px #ebebeb;
   background: #f8f8f8;
   color: #787878;
   padding: 15px 15px 60px 15px;
   width: 422px;
   height: 389px;

}
.uppercase {
   font-family: 'Bebas Neue', sans-serif;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 21px;
}
.wrap_radio {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 45px;
   padding: 5px 14px 5px 31px;
   border: solid 1px #f8f8f8;
}
.wrap_radio:hover {
   background-color: #ebf4f7;
   border: solid 1px #b8d7e2;
}
.form label {
   display: block;
}
.radio_desc, .number_label, .number_input, .buy_input, .buy_desc {
   font-family: Roboto, sans-serif;
   font-weight: normal;
   font-size: 13px;
}



.number_div {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 22px 0;
}
.number_label {
   flex-basis: 50%;
   text-align: right;
   margin-right: 5px;
   color: #000;
}
.number_input {
   width: 42px;
   height: 20px;
   /* border: solid 2px #8caee5; */
   border-radius: 3px;
   margin-right: auto;
   font-size: 10px;
}
.number_input:focus {
   border-color: #8caee5;
}
.buy_div {
   display: flex;
   flex-flow: column;
   justify-content: space-around;
   align-items: center;
}
.buy_label {
   font-size: 22px;
   letter-spacing: 0.85px;
   margin: 16px 0 10px;
}
.buy_amount {
   font-size: 25px;
   letter-spacing: normal;
   color: #3388a8;
}
.buy_currency {
   position: relative;
   bottom: 7px;
   font-size: 13px;
}
.buy_input {
   height: 38px;
   width: 152px;
   border: none;
   border-radius: 20px;
   background-color: #33a845;
   color: #fff;
   margin-bottom: 20px;
   font-size: 12px;
}
.buy_desc {
   font-size: 17px;
   color: #3388a8;
}


/* Мои переключатели */



input[type="radio"]:checked, 
input[type="radio"]:not(:checked) 
{
    position: absolute;
    left: -9999px;
}


input[type="radio"]:checked + label, 
input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}


input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
   content: "";
   position: absolute;
   left: -11px;
   top: -3px;
   width: 17px;
   height: 17px;
   border: 4px solid #dddddd;
   background-color: #ffffff;
   border-radius: 100%;
}
input[type="radio"]:checked + label:before {
   border-color: #34648e;
}

input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
   content: "";
   position: absolute;
   left: -3.4px;
   top: 4.3px;
   width: 10px;
   height: 10px;
   border-radius: 100%;
   background-color: #0294bf;
}

input[type="radio"]:not(:checked) + label:after {
   opacity: 0;
}

input[type="radio"]:checked + label:after {
   opacity: 1;
}