.feynman {
  min-height: 890px;
  padding-top: 100px;
  box-sizing: border-box;
  background: #f2f2f2 url(/portfolios/how-to-learn/images/feynman.png) no-repeat
    left bottom / 867px 637px;
  position: relative;
}
